:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* Color Themes */
  color: rgba(70, 26, 26, 0.87);
  --primary-color: #3c6478;
  --secondary-color: #5b8a9f;
  --tertiary-color: #cdd8de;
  --quaternary-color: #cdd6e1;
  background-color: rgba(237, 228, 228, 0.87);
  --primary-bg-color: #dce3e5;
  --secondary-bg-color: #dfe7ec;
  --tertiary-bg-color: #f5f8f9;
  --quaternary-bg-color: #b3c7d3;

  /* Font Themes  */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Roboto Slab", serif;
  --tertiary-font: "Montserrat", sans-serif;
}

/* Main Styles */ 
.primary-bg-color {
  background-color: var(--primary-bg-color) !important;
}
.secondary-bg-color {
  background-color: var(--secondary-bg-color) !important;
}
.tertiary-bg-color {
  background-color: var(--tertiary-bg-color) !important;
}
.quad-bg-color {
  background-color: var(--quaternary-bg-color) !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.underline {
  text-decoration: underline;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  color: wheat;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: orange;
 
}
button:focus,
button:focus-visible {
 background-color: yellow;
}

.default-padding {
  padding: 5%;
}








/* footer */

.icon-and-text {
  display: flex;
  padding-top: 10px ;
}

.icon {
  margin-right: 10px;
  margin-top: 5px;


}







footer a {
  color: #0a2745;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
footer a:hover {
  color: #0056b3;
}


@media only screen and (max-width: 968px) {

  .center-mobile-text {
    padding: 0 20% 0 20%;
    
  }

}
