:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* Color Themes */
  color: rgba(70, 26, 26, 0.87);
  --primary-color: #dce3e5;
  --secondary-color: #4c6575;
  --tertiary-color: #4c6575;
  --quaternary-color: #042233;
  background-color: rgba(237, 228, 228, 0.87);
  --primary-bg-color: #dce3e5;
  --secondary-bg-color: #4c6575;
  --tertiary-bg-color: #f8fcfd;
  --quaternary-bg-color: #dfe7ec;

  /* Font Themes  */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Roboto Slab", serif;
  --tertiary-font: "Montserrat", sans-serif;
}

/* Main Styles */ 
.primary-bg-color {
  background-color: var(--primary-bg-color) !important;
}
.secondary-bg-color {
  background-color: var(--secondary-bg-color) !important;
}
.tertiary-bg-color {
  background-color: var(--tertiary-bg-color) !important;
}
.quad-bg-color {
  background-color: var(--quaternary-bg-color) !important;
}

.primary-color {
  color: var(--primary-color)
}

.secondary-color {
  color: var(--secondary-color)
}

.tertiary-color {
  color: var(--tertiary-color)
}

.quad-color {

    color: var(--quaternary-color)
  }



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.underline {
  text-decoration: underline;
}

button.ui.button {
  border: var(--primary-color) solid 1.25px;
  background-color: var(--secondary-bg-color);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;

  }
  
  button.ui.button:hover {
    background-color: var(--primary-bg-color);
  }


.default-padding {
  padding: 2em;
}




.center-text {
  text-align: center;
}

/* General HeroSection CSS */

.heroOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.heroCard {
  object-fit: cover;
  height: 60vh;
  filter: brightness(70%);
}

.heroTitle {
  font-size: 55px;
}

.heroText {
  font-size: 35px;
}

.heroTopText {
  font-size: 25px;
}


/* Header  */

.modal-content {
  border-radius: 10px;
}

.modal-header {
  background-color: var(--secondary-bg-color) ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
}

.modal-footer {
  background-color: var(--priamry-bg-color) ;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-footer .ui.button {
  margin-right: 10px;
}



/*    Intro Banner    */

.ui.horizontal.segments.heroSegment {
  color: var(--secondary-color);
  background-color: var(--primary-bg-color);
  text-align: center;
  padding: 25px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.ui.horizontal.segments.heroSegment.secondaryColor {
  background-color: var(--secondary-bg-color);
}

/* TextImageSection */


.leftImage {
  padding: 0px 25px 0px 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.textBox {

  background-color: var(--quaternary-bg-color);
}
 





/* footer */

.icon-and-text {
  display: flex;
  padding-top: 10px ;
}

.icon {
  margin-right: 10px;
  margin-top: 5px;


}









footer a {
  color: #0a2745;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
footer a:hover {
  color: #0056b3;
}




/* Media Query  */
@media (max-width: 942px) {

  /* Home */

  .ui.horizontal.segments.heroSegment {    padding: 0px;

  }

 

  /* Footer  */

  .myApt h1 {
    font-size: 40px;
  }

  .myFooter p {
    font-size: 15px;
  }

  .footerCols {
    padding-bottom: 20px;
  }

  /* 
  Finance  */

  .careCredit {
    margin-bottom: 25px;
  }










  .experience {
    padding-top: 20px;
  }

  .myStats {
    margin-top: 10px;
  }

  .myMapPackage .myH2 {
    padding-bottom: 10px;
  }

  .threeBtnGroup {
    display: flex;
    flex-direction: column;
  }

  .threeBtnGroup>.ui.button {
    margin-bottom: 10px;
  }

  .btnGroup {
    display: flex;
    flex-wrap: wrap;
  }



  .apptBtn {
    margin-bottom: 10px;
  }

  .heroTitle.card-title {
    font-size: 40px;
  }

  .card-text {
    font-size: 20px;
  }


  /* TextImageSections */

  .leftImageContainer {
    min-width: 1px;
    padding: 0px 0px 20px 0px;
  }

  .rightImageContainer {
    min-width: 1px;
    padding: 20px 0px 0px 0px;
  }
  .leftImage {
    padding: 0px;
  
  }

  .rightImage {
    padding: 0px;
    ;

  }
}
